@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');


:root {
    --color-main: #f68657;
    --color-text: #383a3f;
    --color-dark: #1f2124;
    --color-gray: #677;
    --color-bg: #f3f6f9;
    --color-light: #acb4bd;
    --color-lighter: #f9f9f9;
    --color-white: #fff;
    --color-border:#e0e3e6;
}

.dark {
    --color-main: #f68657;
    --color-text: #d6d1d1;
    --color-dark: #f5f6f7;
    --color-gray: #999;
    --color-bg: #1f2124;
    --color-lighter: #292a2c;
    --color-white: #2e3235;
    --color-border:#252629;
}

/* BASE STYLES */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    color: inherit;
    font-size: inherit;
    scroll-behavior: smooth;
}


body{
    line-height: 1.8em;
    font-weight: 400;
    font-size: 16px;
}

a {
    text-decoration: none;
}

/* APP STYLES */


.container {
    width: 100%;
    height: 100vh;
    color: var(--color-text);
    background-color: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}


.app {
    width: 100%;
    max-width: 480px;
    height: 100%;
    max-height: 400px;
    margin: 50px auto;
    background-color: var(--color-white);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.05);
    /*overflow: auto;*/
}


.app-header {
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-lighter);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.app-header h1 {
    font-size: 30px;
    color: var(--color-dark);
    font-weight: 800;
    text-align: center;
}


/* LOGIN STYLES */

.login-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
}

.login-title{
    color: var(--color-main);
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

#loginForm > * {
    display: block;
    margin-bottom: 10px;
    margin-inline: 100px;
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    margin-top: 5px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}